<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://blog.csdn.net/cutesource/schema/people"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://blog.csdn.net/cutesource/schema/people http://blog.csdn.net/cutesource/schema/people.xsd ">

       <!-- xmlns ——是XML NameSpace的缩写，因为XML文件的标签名称都是自定义的，自己写的和其他人定义的标签很有可能会重复命名，
       而功能却不一样，所以需要加上一个namespace来区分这个xml文件和其他的xml文件，类似于java中的package。

          .xmlns:xsi ——是指xml文件遵守xml规范，xsi全名：xml schema instance，是指具体用到的schema资源文件里定义的元素所准守的规范。
          即http://www.w3.org/2001/XMLSchema-instance这个文件里定义的元素遵守什么标准 -->

       <!--指定标签-->
       <p:people id="p1" name="袁志俊" age="27"/>
</beans>